body {
	--default-text: 0, 0%, 25%;
	--default-bg: 0, 0%, 88%;

	--disabled: 0, 0%, 88%;
	--disabled-text: 0, 0%, 62%;

	--white-text: 0, 0%, 100%;

	--primary: 231, 99%, 62%;
	--primary-focus: 224, 100%, 38%;

	--secondary: 199, 18%, 33%;
	--secondary-focus: 199, 18%, 23%;

	--danger: 0, 65%, 51%;
	--danger-focus: 0, 65%, 41%;
}

p {
	@apply text-sm mb-4;
}
.hover-state {
	@apply text-neutral-500;
}

.button {
	@apply w-max px-[1em] py-[0.4em] rounded-md inline-block;

	background-color: hsla(var(--default-bg));
	box-shadow: 0 1px hsla(var(--default-text), 0.2);
	color: hsla(var(--default-text));
}
.button.hover,
.button:hover {
	--default-focus: hsla(var(--default-text), 0.4);
	background-color: var(--default-focus);
}
.button:active {
	background-color: hsla(var(--default-bg));
}
.button[data-variant="outline"] {
	@apply bg-transparent border;
	border: 1px solid hsla(var(--default-text), 0.4);
}
.button[data-variant="outline"].hover,
.button[data-variant="outline"]:hover {
	background-color: hsla(var(--default-text), 0.3);
}
.button[data-variant="outline"]:active {
	background-color: hsla(var(--default-bg));
}

.button[data-variant="text"] {
	@apply bg-transparent shadow-none;
}
.button[data-variant="text"].hover,
.button[data-variant="text"]:hover {
	background-color: hsla(var(--default-text), 0.3);
}
.button[data-variant="text"]:active {
	background-color: hsla(var(--default-bg));
}

.button[data-disableShadow="true"] {
	@apply shadow-none;
}

.button:disabled {
	background-color: hsla(var(--disabled));
	color: hsl(var(--disabled-text));
}
.button:disabled:hover {
	background-color: hsla(var(--disabled));
}

.button:disabled[data-variant="outline"],
.button:disabled[data-variant="text"] {
	@apply bg-transparent;
}

.button[data-size="sm"] {
	@apply text-sm;
}
.button[data-size="lg"] {
	@apply text-lg;
}

.button[data-color="danger"] {
	--default-text: var(--white-text);
	--default-bg: var(--danger);
	--default-focus: hsla(var(--danger-focus));
}
.button[data-color="primary"] {
	--default-text: var(--white-text);
	--default-bg: var(--primary);
	--default-focus: hsla(var(--primary-focus));
}
.button[data-color="secondary"] {
	--default-text: var(--white-text);
	--default-bg: var(--secondary);
	--default-focus: hsla(var(--secondary-focus));
}

.button[data-color="danger"][data-variant="outline"] {
	--default-text: var(--danger);
}
.button[data-color="primary"][data-variant="outline"] {
	--default-text: var(--primary);
}
.button[data-color="secondary"][data-variant="outline"] {
	--default-text: var(--secondary);
}

.button[data-color="danger"][data-variant="text"],
.button[data-color="primary"][data-variant="text"],
.button[data-color="secondary"][data-variant="text"] {
	--default-text: var(--primary);
}
