body {
	--default-text: #3f3f3f;
	--default-bg: #e0e0e0;
	--default-focus: #aeaeae;

	--disabled: #e0e0e0;
	--disabled-text: #9e9e9e;

	--white-text: #ffffff;

	--primary: #3d5afe;
	--primary-focus: hsl(224, 100%, 38%);

	--secondary: #455a64;
	--secondary-focus: hsl(199, 18%, 23%);

	--danger: #d32f2f;
	--danger-focus: hsl(0, 65%, 41%);
}

p {
	@apply text-sm mb-4;
}

.button {
	@apply w-max px-[1em] py-[0.5em] rounded-md bg-[var(--default-bg)] shadow-md shadow-[var(--default-focus)] text-[var(--default-text)] inline-block;

	@apply hover:bg-[var(--default-focus)] active:bg-[var(--default-bg)];
}

.button[data-variant="outline"] {
	@apply bg-transparent border border-[var(--default-focus)];

	@apply hover:bg-[var(--default-focus)] focus:bg-[var(--default-focus)] focus:outline-none;
}

.button[data-variant="text"] {
	@apply bg-transparent shadow-none;

	@apply hover:bg-[var(--default-focus)] focus:bg-[var(--default-focus)] focus:outline-none;
}

.button[data-disableShadow="true"] {
	@apply shadow-none;
}

.button:disabled {
	@apply bg-[var(--disabled)] text-[var(--disabled-text)];

	@apply hover:bg-[var(--disabled)];
}

.button:disabled[data-variant="outline"],
.button:disabled[data-variant="text"] {
	@apply bg-transparent;
}

.button[data-size="sm"] {
	@apply text-sm;
}
.button[data-size="lg"] {
	@apply text-lg;
}

.button[data-color="danger"] {
	--default-text: var(--white-text);
	--default-bg: var(--danger);
	--default-focus: var(--danger-focus);
}
.button[data-color="primary"] {
	--default-text: var(--white-text);
	--default-bg: var(--primary);
	--default-focus: var(--primary-focus);
}
.button[data-color="secondary"] {
	--default-text: var(--white-text);
	--default-bg: var(--secondary);
	--default-focus: var(--secondary-focus);
}

.button[data-color="danger"][data-variant="outline"] {
	--default-text: var(--danger);
}
.button[data-color="primary"][data-variant="outline"] {
	--default-text: var(--primary);
}
.button[data-color="secondary"][data-variant="outline"] {
	--default-text: var(--secondary);
}

.button[data-color="danger"][data-variant="outline"],
.button[data-color="primary"][data-variant="outline"],
.button[data-color="secondary"][data-variant="outline"] {
}
